* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    line-height: 1.7;
    font-family: "ubuntu";
}

/* Nav Bar */
#my-navbar {
    padding: 0 8%;
    background-color: #845EC2;
}

.navbar {
    color: wheat;
}

.navbar-collapse {
    padding-left: 30%;
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 20px;
}

.connect {
    color: aquamarine;
}

.brand {
    font-weight: bold;
}

.nav-link {
    font-size: 1.3rem;
    margin-left: 20px;
}

.nav-link.active:hover,
.nav-link:hover {
    color: rgb(5, 170, 236);
    font-weight: bold;
}

@media (max-width: 768px) {
    h1 {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    #my-navbar {
        padding: 1%;
    }

    #HeroSection {
        padding: 1%;
        width: 100%;
    }

    .hero-text {
        width: 100%;
        text-align: center;
    }

    .hero-title {
        width: 100%;
        text-align: center;
    }

    .hero-text {
        width: 100%;
        text-align: center;
    }

    .heroSection-content {
        width: 100%;
        text-align: center;
    }
}


/* Hero Section */

#HeroSection {
    background-color: #845EC2;
    padding: 8%;
    color: wheat;
    position: relative;
    overflow: hidden;
}

#HeroSection::before {
    position: absolute;
    content: url("../../public/bg-star.png");
    /* background-image: url("../../public/bg-star.png"); */
    right: 200px;
    top: 200px;
    z-index: 0;
    animation: animationFramesOne 5s linear infinite;
}

#HeroSection::after {
    position: absolute;
    content: url("../../public/bg-1.png");
    /* background-image: url("../../public/bg-star.png"); */
    right: 200px;
    top: 200px;
    animation: moVebounce 5s linear infinite;
}


@keyframes moVebounce {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    50% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px)
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes animationFramesOne {
    0% {
        -webkit-transform: translate(0) rotate(0deg);
        transform: translate(0) rotate(0deg)
    }

    20% {
        -webkit-transform: translate(73px, -1px) rotate(36deg);
        transform: translate(73px, -1px) rotate(36deg)
    }

    40% {
        -webkit-transform: translate(141px, 72px) rotate(72deg);
        transform: translate(141px, 72px) rotate(72deg)
    }

    60% {
        -webkit-transform: translate(83px, 122px) rotate(108deg);
        transform: translate(83px, 122px) rotate(108deg)
    }

    80% {
        -webkit-transform: translate(-40px, 72px) rotate(144deg);
        transform: translate(-40px, 72px) rotate(144deg)
    }

    to {
        -webkit-transform: translate(0) rotate(0deg);
        transform: translate(0) rotate(0deg)
    }
}

.hero-btn {
    background-color: wheat;
}

.hero-btn :hover {
    color: wheat;
    background-color: rgb(13, 126, 88);
}

.hero-title {
    font-weight: bold;
    font-size: 3.5rem;
    padding-bottom: 20px;
}

.hero-text {
    width: 100%;
    font-size: 1.5rem;
    padding-bottom: 20px;
}

.herosection-img {
    text-align: center;
    justify-content: center;
}

.background {
    position: fixed;
}

/* card section */

#cradSection {
    padding: 8%;
}

.card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.card-top {
    margin-bottom: 20px;
    border-radius: 50%;

}

.card :hover {
    background-color: #f2fefe;
}

.card-title {
    font-weight: bold;
}

.cardSection-body {
    text-align: center;
}

.c-link {
    /* padding: 20px; */
    background-color: rgb(179, 232, 227);
    border-radius: 50%;

}


/* provide section */

#provide {
    background-color: #f2fefe;
    padding: 5% 8%;
}

.provide-img {
    width: 100%;
    text-align: center;
}

.provide-data h1 {
    font-weight: bold;
}


/* Next Provide section */
#nextProvide {
    padding: 5% 8%;
}

.nextProvide-icon {
    text-align: center;
    padding-top: 30px;
}

.image {
    width: 100%;
    text-align: center;
}

.nextProvide-h1 {
    padding-top: 15px;
    padding-bottom: 25px;
    font-weight: bold;
}

/* ProServices  section*/
#proServices {
    background-color: #f2fefe;
    padding: 3% 8%;
}

.proServices-top {
    text-align: center;
    padding: 5% 0;
}

#testinomial {
    padding: 5% 8%;
}

.testinomial-text {
    text-align: center;
    padding-bottom: 30px;
}

.card-img {
    text-align: center;
    justify-content: center;
}

#company {
    padding: 5% 8%;
}

.company-h {
    text-align: center;
    font-weight: bold;
}

#portfolioData {
    padding: 5% 8%;
}

#servicesBox {
    padding: 5% 8%;
}

#contact-us {
    background-color: #f2fefe;
    padding: 5% 8%;
}

#contact-us .col {
    flex: 1 0 8%;
}

.we-love {
    padding-bottom: 2%;
}

.we-love h1 {
    font-size: 2.5rem;
    padding-top: 2%;
}

.we-love p {
    font-size: 1.5rem;
    line-height: 1.5;
}

.contact-us-img h4 {
    padding-top: 2%;
    font-weight: bold;
}

footer {
    background-color: #845EC2;
    padding: 5% 8%;
    color: wheat;
}

.footer-link {
    color: wheat;
    list-style: none;
    text-decoration: none;
}

.social-link {
    color: pink;
}