* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    line-height: 1.7;
    font-family: "ubuntu";
}

/* Nav Bar */
#my-navbar {
    padding: 0 8%;
    background-color: #BAD7E9;
    ;
}

.navbar-collapse {
    padding-left: 30%;
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 20px;
}

.nav-link {
    font-size: 1.3rem;
    margin-left: 20px;
}

.nav-link.active:hover,
.nav-link:hover {
    color: rgb(5, 170, 236);
    font-weight: bold;
}

@media (max-width: 768px) {
    h1 {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    #my-navbar {
        padding: 1%;
    }

    #HeroSection {
        padding: 1%;
        width: 100%;
    }

    .hero-text {
        width: 100%;
        text-align: center;
    }

    .hero-title {
        width: 100%;
        text-align: center;
    }

    .hero-text {
        width: 100%;
        text-align: center;
    }

    .heroSection-content {
        width: 100%;
        text-align: center;
    }
}


/* Hero Section */

#HeroSection {
    background-color: #95e2e2;
    padding: 8%;
}

.hero-title {
    font-weight: bold;
    font-size: 3.5rem;
    padding-bottom: 20px;
}

.hero-text {
    width: 100%;
    font-size: 1.5rem;
    padding-bottom: 20px;
}

/* card section */

#cradSection {
    padding: 8%;
}

.card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.card-top {
    margin-bottom: 20px;
    border-radius: 50%;

}

.card :hover {
    background-color: #f2fefe;
}

.card-title {
    font-weight: bold;
}

.cardSection-body {
    text-align: center;
}

.c-link {
    /* padding: 20px; */
    background-color: rgb(179, 232, 227);
    border-radius: 50%;

}


/* provide section */

#provide {
    background-color: #f2fefe;
    padding: 5% 8%;
}

.provide-img {
    width: 100%;
    text-align: center;
}


/* Next Provide section */
#nextProvide {
    padding: 5% 8%;
}

.nextProvide-icon {
    text-align: center;
    padding-top: 30px;
}

.image {
    width: 100%;
    text-align: center;
}

.nextProvide-h1 {
    padding-top: 15px;
    padding-bottom: 25px;
}

/* ProServices  section*/
#proServices {
    background-color: #f2fefe;
    padding: 3% 8%;
}

.proServices-top {
    text-align: center;
    padding: 5% 0;
}

#testinomial {
    padding: 5% 8%;
}

.testinomial-text {
    text-align: center;
    padding-bottom: 30px;
}

.card-img {
    text-align: center;
    justify-content: center;
}

#company {
    padding: 5% 8%;
}

.company-h {
    text-align: center;
    font-weight: bold;
}

#portfolioData {
    padding: 5% 8%;
}

#servicesBox {
    padding: 5% 8%;
}

#contact-us {
    background-color: #f2fefe;
    padding: 5% 8%;
}

#contact-us .col {
    flex: 1 0 8%;
}

.we-love {
    padding-bottom: 2%;
}

.we-love p {
    font-size: 1.5rem;
    line-height: 1.5;
}

footer {
    background-color: #BAD7E9;
    padding: 5% 8%;
}